.row.full
  .col.s12
    #statistics
      .col.s8.m8
        .linechart{data: @calls_data}
          %svg
      .col.s4.m4
        .donut{data: @surveys_data}
          %svg
    #clinics-map

  .row
    .col.s12.m6
      .card
        .card-content
          %span.card-title
            Find a clinic calling

            = Settings.twilio.phone_number
        .card-action
          = link_to "Go to verboice", "#{Settings.verboice.url}/projects/#{Settings.verboice.project}/contacts", target: '_blank'
