@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Chivo:400,700');


body,
html {
  font-family: 'Archivo Narrow', sans-serif;
}

body {
  @extend .grey, .lighten-3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  > * {
    padding-left: 2%;
    padding-right: 2%;
  }
}

main {
  flex: 1 0 auto;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

nav {
  @extend .z-depth-0;
  background: $primary-color;
  font-family: 'Chivo', sans-serif;
  height: 90px;
  .brand-logo {
    transform: translateX(0) !important;
    line-height: 90px;
    left: 0;
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 48px;
      height: 48px;
    }
    span {
      font-size: 1.5rem !important;
      color: rgba(129,157,201,1);
      vertical-align: middle;
    }
  }
  .nav-wrapper {
    text-align: center;
    ul {
      display: inline-block;
      height: 100%;
      li {
        @extend .transparent;
        opacity: 0.4;
        position: relative;
        transition: opacity ease-in .3s;
        a {
          @extend .transparent;
          line-height: 90px;
          text-transform: uppercase;
          padding: 0 20px;
        }
        &:hover {
          opacity: 0.6;
        }
        &.active {
          opacity: 1;
          &:after {
            content: '';
            @extend .white;
            display: block;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            position: absolute;
            bottom: 1.3rem;
            left: calc(50% - 3px);
          }
        }
      }
    }
  }
}

.card {
  .card-title {
    padding: 0 25px;
  }
  .card-content {
    padding-left: 0;
    padding-right: 0;
  }
  &.map .card-content {
    padding-bottom: 0;
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .footer-copyright {
    padding: 0 .5rem;
    * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

ul.dropdown-content {
  li {
    a {
      @extend .grey-text;
    }
    &:hover a {
      @extend .grey-text, .text-darken-2;
    }
  }
}



#statistics {
  min-height: 480px;
  padding-top: 40px;
}


#clinics-map {
  width: 100%;
  height: 600px;
  position: relative;
  &:after {
    content: '';
    @extend .transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    box-shadow: 2px 0 6px 2px rgba(0,0,0,.3);
    z-index: 1200;
  }
}





// ------- Card with Table ----------

.card {
  border-radius: 3px;

  .card-table-title {
    @extend .black-text;
    font-size: 20px;
    font-weight: 400;
    padding: 25px;
    position: relative;
    .count {
      font-family: 'Chivo', sans-serif;
      font-size: 19px;
      font-weight: 700;
      color: $primary-color;
    }
    .fixed-action-btn.horizontal {
      position: absolute;
      .btn-floating {
        @extend .z-depth-0;
        @extend .transparent;
        &.flat {
          @extend .black-text;
        }
      }
      ul li {
        margin-top: 0;
      }
    }
  }


  .card-table {
    padding: 0;
    > table {
      @extend .bordered;

      tr:hover {
        .action {
          opacity: 1;
        }
      }

      th {
        @extend .black-text;
        white-space: nowrap;
        padding: 0;
        > * {
          padding: 10px 25px;
        }
        a {
          color: inherit;
        }
        &.sortable {
          a {
            position: relative;
            display: inline-block;
            &:after {
              content: '';
              font-family: 'Material Icons';
              @extend .black-text;
              position: absolute;
              right: 0.3rem;
              top: .7rem;
              -webkit-font-feature-settings: 'liga';
              -webkit-font-smoothing: antialiased;
            }
          }
          &.asc a:after {
            content: 'keyboard_arrow_up';
          }
          &.desc a:after {
            content: 'keyboard_arrow_down';
            top: .8rem;
          }
        }
      }

      td {
        @extend .black-text;
        padding: 10px 25px;
        a {
          color: inherit;
        }
      }
    }
    td.action {
      @extend .grey-text;
      transition: opacity ease-in-out .4s;
      opacity: 0;
      padding-left: 0px;
      padding-right: 15px;
    }

    + .card-action {
      ul {
        margin: 0;
        li {
          @extend .black-text;
          line-height: 2;
          margin-left: 2rem;
          a {
            @extend .grey-text;
            margin: 0 !important;
            padding: 0 !important;
          }
          &.disabled {
            opacity: 0.3;
          }
        }
      }

    }
  }

  &.tableScroll {
    width: 94.7vw;
    .card-table {
      overflow-x: auto;
      table {
        td, th {
          white-space: nowrap;
        }
      }
    }
  }
}


// ------- Helper classes ----------

.row.full {
  @extend .white;
  margin: -2rem -2% -.5rem;
  > .col {
    padding: 0;
  }
}



// ------- Responsive classes ----------


@media #{$medium-and-down} {
  .card.tableScroll {
    width: 94vw;
  }
}

@media #{$small-and-down} {

  body > * {
    padding-left: 1%;
    padding-right: 1%;
  }
}
